<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Schemas</title>
</head>
<body>
	<h2>Event Schemas: List of events with their corresponding arguments</h2>
	<ol>
	<li><strong>Embargo :</strong> - Trade or other commercial activity of the commodity is banned.</li>
		Example: The [Trump administration]<sub style="background-color:powderblue;">Imposer</sub> imposed a “strong and swift” economic <b>sanctions</b><sub style="background-color:LemonChiffon;">trigger</sub> on [Venezuela]<sub style="background-color:powderblue;">Imposee</sub> on [Thursday]<sub style="background-color:powderblue;">Reference_point_time</sub>. <br /><br />
	</li>
	<li><strong>Prohibiting :</strong> - Trade or other commercial activity of the commodity is banned.</li>
		Example: [Congress]<sub style="background-color:powderblue;">Imposer</sub> <b>banned</b><sub style="background-color:LemonChiffon;">trigger</sub> most [U.S.]<sub style="background-color:powderblue;">Imposee</sub> [crude oil]<sub style="background-color:powderblue;">Item</sub> [exports]<sub style="background-color:powderblue;">Attribute</sub> on [Friday]<sub style="background-color:powderblue;">Reference_point_time</sub> after priceshocks from the 1973 Arab oil embargo. <br />
		<i>Other roles not seen in sentence above: Activity </i><br /><br />
	</li>
	<li><strong>Shortage :</strong> - Situation where demand is more than supply.</li>
		Example: Oil reserves are within “acceptable” range in most oil consuming countries and there is no <b>shortage</b><sub style="background-color:LemonChiffon;">trigger</sub> in [oil]<sub style="background-color:powderblue;">Item</sub> [supply]<sub style="background-color:powderblue;">Attribute</sub> [globally]<sub style="background-color:powderblue;">Type</sub>, the minister added<br />
		<i>Other roles not seen in sentence above: Reference_point_time </i><br /><br />
	</li>
	<li><strong>Civil Unrest :</strong> - Violence or turmoil within the oil producing country.</li>
		Example: The drop in oil prices to their lowest in two years has caught many observers off guard, coming against a backdrop of the worst <b>violence</b><sub style="background-color:LemonChiffon;">trigger</sub> in [Iraq]<sub style="background-color:powderblue;">Place</sub> [this decade]<sub style="background-color:powderblue;">Reference_point_time</sub>.<br /><br />
	</li>	
	<li><strong>Crisis :</strong> -  (a) A time of intense difficulty, such as other forms of unspecified crisis (grouped under Geo-political event) and (b) Financial / Economic Crisis (which can be grouped under Macro-economic event).</li>
		Example: Asia ’s diesel consumption is expected to recover this year at the second weakest level rate since the [2014]<sub style="background-color:powderblue;">Reference_point_time</sub> [Asian]<sub style="background-color:powderblue;">Place</sub> [financial]<sub style="background-color:powderblue;">Item</sub> <b>crisis</b><sub style="background-color:LemonChiffon;">trigger</sub>.<br /><br />
	</li>	
		<li><strong>Geo-political Tension :</strong> -  Political tension between oil-producing nation with other nations.</li>
		Example: <b>Deteriorating relations</b><sub style="background-color:LemonChiffon;">trigger</sub> between [Iraq]<sub style="background-color:powderblue;">Participating_countries</sub> and [Russia]<sub style="background-color:powderblue;">Participating_countries</sub> [first half of 2016]<sub style="background-color:powderblue;">Reference_point_time</sub> ignited new fears of supply restrictions in the market.<br /><br />
	</li>
	</li>	
		<li><strong>Oversupply :</strong> -  Situation where production goes into surplus.</li>
		Example: [Forecasts]<sub style="background-color:powderblue;">Forecast</sub>  for  an  [crude]<sub style="background-color:powderblue;">Item</sub> <b>oversupply</b><sub style="background-color:LemonChiffon;">trigger</sub> in [West  African]<sub style="background-color:powderblue;">Place</sub> and [European]<sub style="background-color:powderblue;">Place</sub> [markets]<sub style="background-color:powderblue;">Attribute</sub> [early June]<sub style="background-color:powderblue;">Reference_point_time</sub> help to push the Brent benchmark down more than 20% January.<br /><br />
	</li>
	</li>	
		<li><strong>Caused-movement-down-loss, Caused-movement-up-gain :</strong> - Commodity forecasted / target price is raised or lowered. </li>
		Example: The  [IMF]<sub style="background-color:powderblue;">Forecaster</sub>  earlier  said  it <b>reduced</b><sub style="background-color:LemonChiffon;">trigger</sub> its  [2018]<sub style="background-color:powderblue;">Reference_point_time</sub>  [global]<sub style="background-color:powderblue;">Type</sub> [economic  growth]<sub style="background-color:powderblue;">Item</sub> [forecast]<sub style="background-color:powderblue;">Forecast</sub> to [3.30%]<sub style="background-color:powderblue;">Final_value</sub> from a [July]<sub style="background-color:powderblue;">Initial_reference_point</sub> forecast of [4.10%]<sub style="background-color:powderblue;">Initial_value</sub>.<br /><br />
	</li>
	</li>	
		<li><strong>Movement-down-loss, Movement-up-gain, Movement-flat</strong> - Situation where commodity price rises, falls or no change.</li>
		Example: [Globally]<sub style="background-color:powderblue;">Type</sub> [crude oil]<sub style="background-color:powderblue;">Item</sub> [futures]<sub style="background-color:powderblue;">Attribute</sub> <b>surged</b><sub style="background-color:LemonChiffon;">trigger</sub> [$2.50]<sub style="background-color:powderblue;">Difference</sub> to [$59 per barrel]<sub style="background-color:powderblue;">Final_value</sub> on [Tuesday]<sub style="background-color:powderblue;">Reference_point_time</sub>.<br /><br />
	</li>
	</li>	
		<li><strong>Slow-weak, Grow-strong: </strong> - Economic / GDP / Employment condition of a nation.</li>
		Example: [U.S.]<sub style="background-color:powderblue;">Place</sub> [employment data]<sub style="background-color:powderblue;">Item</sub> <b>strenghtens</b><sub style="background-color:LemonChiffon;">trigger</sub> with the euro zone.<br /><br />
	</li>
	</li>	
		<li><strong>Position-high, Position-low: </strong> - Describes the position of the current commodity price.</li>
		Example: The IEA estimates that U.S. crude oil is expected to seek higher grounduntil reaching a [5-year]<sub style="background-color:powderblue;">Duration</sub> <b>peak</b><sub style="background-color:LemonChiffon;">trigger</sub> in [late April]<sub style="background-color:powderblue;">Reference_point_time</sub> of about [17 million bpd]<sub style="background-color:powderblue;">Final_value</sub>.<br /><br />
	</li>
	</ol>
	

</body>
</html>
  
