<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of Event Type</title>
</head>
<body>
	<p>There are 19 Event Types </p>
    <ol>
	<li><strong>Geo-political News</strong>
		<ul>
			<li><b>Civil unrest (civil-unrest)</b>: Violence or turmoil within the oil producing country.
				<ol type="i">
				<li><i>.....a fragile recovery in Libyan supply outweighed <b>fighting</b> in Iraq ......</i></li>
				<li><i>.......a backdrop of the worst <b>strife</b> in Iran this decade....</i></li>
				</ol>
			</li>
			<li><b>Embargo (Embargo / Prohibiting)</b>: Trade or other commercial activity of the commodity is banned.
				<ol type="i">
				<li><i>..... and <b>sanctions</b> against Iran.</i></li>
				<li><i>.....prepared to impose `` strong and swift '' economic <b>sanctions</b> on Venezuela.....</i></li>
				</ol>
			</li>
			<li><b>Geo-political tension</b>: Political tension between oil-producing nation with other nations.
				<ol type="i">
				<li><i>..... heightened <b>tensions</b> between the West and Russia.....</i></li>
				<li><i>..... despite geopolitical <b>war</b> in Iraq , Libya and Ukraine.</i></li>
				</ol>
			</li>
			<li><b>Trade tensions (Trade-tensions)</b>: Trade-related tension between oil-producing and oil-consuming nations.
				<ol type="i">
				<li><i>..... escalating global <b>trade wars</b>, especially between the US and China.</i></li>
				<li><i>.... showing that OPEC is not ready to end its <b>trade tensions</b>......</i></li>
				</ol>
			</li>
			<li><b>Other forms of Crisis (Crisis)</b>: (a) A time of intense difficulty, such as other forms of unspecified crisis that do not fall into any of the above category and (b) Financial / Economic Crisis (which can be grouped under Macro-economic News)
				<ol type="i">
				<li><i>(a) .... Ukraine declared an end to an oil <b>crisis</b> that has .........</i></li>
				<li><i>(b) ....since the 2014/15 financial <b>crisis</b> as .......</i></li>
				</ol>
			</li>
		</ul><br /><br />
	</li>
	<li><strong>Macro-economic News</strong>
		<ul>
			<li><b>Economy / GDP (Grow-strong / Slow-weak)</b>: Economic / GDP growth of a nation.
				<ol type="i">
				<li><i>....... concerns over <b>slowing</b> global growth.....</i></li>
				<li><i>''Fear of domestic economic growth <b>contracting</b> is afflicting .....</i></li>
				</ol>
			</li>
			<li><b>Employment (Grow-strong / Slow-weak)</b>: Status of US Employment Data, which is an indicator of economic situation.
				<ol type="i">
				<li><i>U.S. employment data <b>strengthens</b> with the euro zone.....</i></li>
				<li><i>as <b>strong</b> U.S. employment data.....</i></li>
				</ol>
			</li>
			<li><b>Bearish technical view / outlook (Negative-sentiment)</b>: Bearish sentiment or outlook
				<ol type="i">
				<li><i>But in a market <b>clouded by uncertainties</b>.....</i></li>
				<li><i>....supply <b>concerns</b> would ease even more ......</i></li>
				</ol>
			</li>
		</ul><br /><br />
	</li>
	<li><strong>Commodity Supply (includes exports)</strong>
		<ul>
			<li><b>Oversupply (Oversupply)</b>: Situation where production goes into surplus.
				<ol type="i">
				<li><i>..... the region <b>surplus</b> of supply.....</i></li>
				<li><i>....the market is still working off the <b>gluts</b> built up.....</i></li>
				</ol>
			</li>
			<li><b>Shortage (Shortage)</b>: Situation where demand is more than supply.
				<ol type="i">
				<li><i>.... increase a supply <b>shortage</b> from chaotic Libya....</i></li>
				<li><i>......and there is no <b>shortfall</b> in supply , the minister added.</i></li>
				</ol>
			</li>
			<li><b>Supply increase (Movement-up-gain)</b>: Situation where supply increased.
				<ol type="i">
				<li><i>....further <b>increases</b> in U.S. crude production.....</i></li>
				<li><i>The <b>rise</b> in production is definitely benefiting the United States....</i></li>
				</ol>
			</li>
			<li><b>Supply increase (Cause-movement-up-gain)</b>: Deliberate action to increase supply.
				<ol type="i">
				<li><i>The IEA <b>boosted</b> its estimate of production from ExxonMobil to 1.8 million bpd in July 4 holiday weekend.</i></li>
				<li><i>.....urged the kingdom to <b>ramp up</b> production.....</i></li>
				</ol>
			</li>
			<li><b>Supply decrease (Movement-down-loss)</b>: Situation where supply decreased.
				<ol type="i">
				<li><i>UAE 's production has almost <b>halved</b> in two years to 31.6 million bpd...</i></li>
				<li><i>...fears that global supplies will <b>drop</b> due to Washington 's sanctions on the OPEC member nation .</i></li>
				</ol>
			</li>
			<li><b>Supply decrease (Cause-movement-down-loss)</b>: Deliberate action to decrease supply.
				<ol type="i">
				<li><i>......by <b>slashing</b> production by almost three quarters in the 1980s....</i></li>
				<li><i>.....an announcement by Iran that it would <b>cut</b> its production last week.</i></li>
				</ol>
			</li>
		</ul> <br /><br />
	</li> 
	<li><strong>Commodity Demand (includes imports)</strong>
		<ul>
			<li><b>Demand increase (Movement-up-gain)</b>: Situation where demand increased.
				<ol type="i">
				<li><i>It expects consumption to <b>trend upward</b> by 1.05 million bpd , below 40,000 bpd from July .</i></li>
				<li><i>....as <b>more</b> seasonal demand kicks in due to colder weather.</i></li>
				</ol>
			</li>
			<li><b>Demand decrease (Movement-down-loss)</b>: Situation where demand decreased.
				<ol type="i">
				<li><i>....onto a market reeling from <b>falling</b> demand because of the virus outbreak.</i></li>
				<li><i>....when global demand growth for air conditioning <b>collapses</b> from its summer peak....</i></li>
				</ol>
			</li>
		</ul> <br /><br />
	</li>
	<li><strong>Commodity Price Movement</strong> (Commodity price here includes spot price, futures and futures contract.
		<ul>
			<li><b>Price increase (Movement-up-gain)</b>: Situation where commodity price rises.
				<ol type="i">
				<li><i>Oil price <b>rose</b> $105 a barrel on March....</i></li>
				<li><i>...oil prices have <b>fallen</b> as much as 20 percent since June</i></li>
				</ol>
			</li>
			<li><b>Price decrease (Movement-down-loss)</b>: Situation where commodity price drops.
				<ol type="i">
				<li><i>The <b>drop</b> in oil prices to their lowest in two years.....7.</i></li>
				<li><i>Oil prices <b>declined</b> back the final quarter of 1991 to 87 cents....</i></li>
				</ol>
			</li>
			<li><b>Price movement flat (Movement-flat)</b>: Situation where no or little change to commodity price.
				<ol type="i">
				<li><i>Contango spread in Brent is <b>steady</b> at 15 cents per barrel.....</i></li>
				<li><i>U.S. crude is expected to <b>hold</b> around $ 105 per barrel , Spooner forecast .</i></li>
				</ol>
			</li>
			<li><b>Price target /forecast increase (Caused-movement-up-gain)</b>: Commodity forecasted / target price is raised.
				<ol type="i">
				<li><i>The IMF earlier said it <b>increased</b> its 2019 global economic growth forecast to 3.30%</i></li>
				<li><i>The International Monetary Fund <b>doubled</b> its global growth forecast for 2013.....</i></li>
				</ol>
			</li>
			<li><b>Price target /forecast decrease (Caused-movement-down-loss)</b>: Commodity forecasted / target price is lowered.
				<ol type="i">
				<li><i>Germany 's Bundesbank this week <b>halved</b> its 2015 growth forecasts for Europe 's largest economy to 1 percent.</i></li>
				<li><i>OPEC also <b>lowered</b> forecast global demand for its crude oil....</i></li>
				</ol>
			</li>
			<li><b>Price position (Position-high, Position-low)</b>: Describes the position of the current commodity price.
				<ol type="i">
				<li><i>Oil price remained close to four-year <b>highs</b>....</li>
				<li><i>Oil slipped more than 20% to its <b>weakest</b> level in two years on 1980s.....</i></li>
				</ol>
			</li>
		</ul>
	</li>
	</ol>	

</body>
</html>
  
